# Ativa o motor de reescrita
RewriteEngine On

# Se o diretório ou arquivo solicitado existir, não faz nada
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redireciona todas as solicitações para index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Desabilita o listagem de diretórios
Options -Indexes

# Previne acesso a arquivos .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Previne acesso a arquivos sensíveis
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>